{% extends 'layout/guest.html.twig' %}
{% block main_title %}Rejestracja{% endblock %}

{% block guest %}
    <div style="margin-top: 100px" class="offset-lg-3 col-lg-6 ">
        <div class="card">
            <div class="card-header">Rejestracja</div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}

                <div class="row">
                    <div class="col-lg-6">
                        <a href="{{ path('app_login') }}" class="btn btn-secondary" >Anuluj</a>
                    </div>
                    <div class="col-lg-6" style="text-align: right">
                        <input type="submit" class="btn btn-primary" value="REJESTRUJ" />
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}