{% extends 'layout/index.html.twig' %}

{% block title %}Channel{% endblock %}
{% block main_content %}
    <div class="chat">
        <div class="chat-channel">
            <div class="chat-header">
                <b> {{ member.userName }} </b>
            </div>
            <div class="chat-container">
                <div class="chat-messages">
                    <ul id="message" class="message-container"></ul>
                </div>
                <div class="chat-panel">
                    <textarea id="text-message" class="message" placeholder="message.."></textarea>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        let fromId = {{ user.id }};
        let fromUserName = '{{ user.userName }}';
        let toId = {{ member.id }};
        let toUserName = '{{ member.userName }}';

        let socketLink = 'ws://localhost:8025/websockets/chat/'+fromId;

        let socket = new WebSocketService(socketLink);
        socket.setFrom(fromId);
        socket.setTo(toId);

        /**
         * Wysyłka zawartości TextArea
         */
        $('#text-message').keypress(function(event) {
            if (event.keyCode == 13 && !event.shiftKey) {
                socket.send( $('#text-message').val());
                $('#text-message').val("");
                event.preventDefault();
            }
        });

    </script>
{% endblock %}